<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/backup_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@drawable/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.TVPlayer"
    tools:targetApi="31">
